---
import SiteLayout from "../../layouts/SiteLayout.astro";
---
<SiteLayout>
    <div class="flex mx-auto flex-col justify-center grow py-8 prose prose-invert">
        <p class="font-bold">Responsible for this website:</p>

        <p>
            triptix GmbH<br>
            Lucasweg 23<br>
            Darmstadt<br>
        </p>

        <p>
            <span class="font-bold">represented by</span>
            Dr. Felix Gündling
        </p>

        <p>
            <span class="font-bold">registered as</span> HRB 106144 in Darmstadt
        </p>

        <p>
            <span class="font-bold">VAT number</span>
            DE 366 539 513
        </p>

        <p>
            <span class="font-bold">E-Mail</span> felix@tripxtix.tech
        </p>
    </div>
</SiteLayout>