---
import Docs from '../layouts/Docs.astro';
---

<Docs>
    <div class="flex flex-col gap-16">
        <div class="prose prose-invert">
            <h1>Get Started</h1>
        </div>

        <div class="prose prose-invert">
            <h2>Step 1: Get Your API Key</h2>
            <p>
                The first step to getting started is to sign up and get your API key. Don't worry! It's totally free and there is no credit card required. The first 10,000 requests per month are on us!
            </p>
            <a href="/auth/signup" class="no-underline block w-full inline-flex justify-center rounded-lg py-2 px-3 text-sm font-semibold outline-2 outline-offset-2 transition-colors hover:bg-gray-100 bg-white hover:bg-zinc-300 text-black">
                Sign Up
            </a>
        </div>

        <div class="prose prose-invert">
            <h2>Step 2: Start Using</h2>
            <p>
                There are two ways you can use triptix GeoCoder:
                <ul>
                    <li>Use one of the web widgets we prepared for you. To do this, just follow the guide for your framework.</li>
                    <li>Directly use the API. We offer different API styles that are compatible with existing services. This makes it easy to switch to triptix GeoCoder if you are already using one of those existing services.
                        <ul>
                            <li><a href="#">Google Style API</a></li>
                            <li><a href="#">MapBox Style API</a></li>
                            <li><a href="#">Pelias Style API</a></li>
                        </ul>
                    </li>
                </ul>
            </p>

            <h3>Guides</h3>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-5 mt-8">
                <a href="/guides/react" class="p-8 border border-zinc-500 rounded-xl hover:scale-110 hover:border-zinc-200 hover:bg-zinc-950 transition-all duration-200 delay-100">
                    <svg class="w-16 h-16 mx-auto" viewBox="-10.5 -9.45 21 18.9" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="0" cy="0" r="2" fill="#149ECA"></circle>
                        <g stroke="#149ECA" stroke-width="1" fill="none">
                            <ellipse rx="10" ry="4.5"></ellipse>
                            <ellipse rx="10" ry="4.5" transform="rotate(60)"></ellipse>
                            <ellipse rx="10" ry="4.5" transform="rotate(120)"></ellipse>
                        </g>
                    </svg>
                </a>
                <a href="/guides/vue" class="p-8 border border-zinc-500 rounded-xl hover:scale-110 hover:border-zinc-200 hover:bg-zinc-950 transition-all duration-200 delay-100">
                    <svg class="w-16 h-16 mx-auto" viewBox="0 0 128 128">
                        <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z"></path>
                        <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z"></path>
                    </svg>
                </a>
                <a href="/guides/svelte" class="p-8 border border-zinc-500 rounded-xl hover:scale-110 hover:border-zinc-200 hover:bg-zinc-950 transition-all duration-200 delay-100">
                    <svg class="w-16 h-16 mx-auto" xmlns="http://www.w3.org/2000/svg" style="enable-background:new 0 0 98.1 118" viewBox="0 0 98.1 118">
                        <path d="M91.8 15.6A36 36 0 0 0 43.6 5.2L16.1 22.8A31.3 31.3 0 0 0 1.9 43.9a32.7 32.7 0 0 0 3.3 21.3 33.6 33.6 0 0 0 1 37.2 36 36 0 0 0 48.2 10.4l27.5-17.5a31.3 31.3 0 0 0 14.2-21.1c1.3-7.3.2-14.8-3.3-21.3a33 33 0 0 0-1-37.3" fill="#ff3e00"/>
                        <path d="M40.9 103.9a21.8 21.8 0 0 1-23.4-8.7A20.3 20.3 0 0 1 14 79.9l.6-2.6.5-1.6 1.4 1c3.3 2.4 6.9 4.2 10.8 5.4l1 .3-.1 1a6.6 6.6 0 0 0 9.9 6.1L65.5 72a5.7 5.7 0 0 0 2.6-3.8c.3-1.6-.1-3.3-1-4.6a6.6 6.6 0 0 0-8.8-1.9l-10.5 6.7a21.8 21.8 0 0 1-29-6.3 20.2 20.2 0 0 1-3.4-15.3A19 19 0 0 1 24 34.1l27.5-17.5c1.7-1.1 3.6-1.9 5.6-2.5a21.8 21.8 0 0 1 23.4 8.7 20.3 20.3 0 0 1 2.8 17.9l-.5 1.6-1.4-1a36.5 36.5 0 0 0-10.8-5.4l-1-.3.1-1c.1-1.4-.3-2.9-1.1-4.1a6.6 6.6 0 0 0-8.8-1.9L32.4 46.1c-1.4.9-2.3 2.2-2.6 3.8s.1 3.3 1 4.6a6.6 6.6 0 0 0 8.8 1.9l10.5-6.7c1.7-1.1 3.6-1.9 5.6-2.5a21.8 21.8 0 0 1 23.4 8.7c3.2 4.4 4.4 9.9 3.5 15.3A19 19 0 0 1 74 83.9l-27.5 17.5a21.8 21.8 0 0 1-5.6 2.5" fill="#fff"/>
                    </svg>
                </a>
                <a href="/guides/solidjs" class="p-8 border border-zinc-500 rounded-xl hover:scale-110 hover:border-zinc-200 hover:bg-zinc-950 transition-all duration-200 delay-100">
                    <svg class="w-16 h-16 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166 155.3">
                        <defs>
                            <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="27.5" y1="3" x2="152" y2="63.5">
                                <stop offset=".1" stop-color="#76b3e1"/>
                                <stop offset=".3" stop-color="#dcf2fd"/>
                                <stop offset="1" stop-color="#76b3e1"/>
                            </linearGradient>
                            <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="95.8" y1="32.6" x2="74" y2="105.2">
                                <stop offset="0" stop-color="#76b3e1"/>
                                <stop offset=".5" stop-color="#4377bb"/>
                                <stop offset="1" stop-color="#1f3b77"/>
                            </linearGradient>
                            <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="18.4" y1="64.2" x2="144.3" y2="149.8">
                                <stop offset="0" stop-color="#315aa9"/>
                                <stop offset=".5" stop-color="#518ac8"/>
                                <stop offset="1" stop-color="#315aa9"/>
                            </linearGradient>
                            <linearGradient id="d" gradientUnits="userSpaceOnUse" x1="75.2" y1="74.5" x2="24.4" y2="260.8">
                                <stop offset="0" stop-color="#4377bb"/>
                                <stop offset=".5" stop-color="#1a336b"/>
                                <stop offset="1" stop-color="#1a336b"/>
                            </linearGradient>
                        </defs>
                        <path d="M163 35S110-4 69 5l-3 1c-6 2-11 5-14 9l-2 3-15 26 26 5c11 7 25 10 38 7l46 9 18-30z" fill="#76b3e1"/>
                        <path d="M163 35S110-4 69 5l-3 1c-6 2-11 5-14 9l-2 3-15 26 26 5c11 7 25 10 38 7l46 9 18-30z" opacity=".3" fill="url(#a)"/>
                        <path d="M52 35l-4 1c-17 5-22 21-13 35 10 13 31 20 48 15l62-21S92 26 52 35z" fill="#518ac8"/>
                        <path d="M52 35l-4 1c-17 5-22 21-13 35 10 13 31 20 48 15l62-21S92 26 52 35z" opacity=".3" fill="url(#b)"/>
                        <path d="M134 80a45 45 0 00-48-15L24 85 4 120l112 19 20-36c4-7 3-15-2-23z" fill="url(#c)"/>
                        <path d="M114 115a45 45 0 00-48-15L4 120s53 40 94 30l3-1c17-5 23-21 13-34z" fill="url(#d)"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</Docs>