---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
    <div class="mx-auto text-center px-4">
        <h1 class="text-[28pt] lg:text-[60pt] font-extrabold leading-none tracking-tight mt-4 pt-1 pb-2 bg-gradient-to-r from-ttblue to-ttpink bg-clip-text text-transparent"
            style="text-shadow: 0 6px 17px rgba(218, 53, 204, .3)">
            Algorithms for Future Mobility
        </h1>
        <p class="mt-8 sm:mt-4 text-lg text-base/loose md:leading-9">
            You want to provide world class mobility solutions to your customers?
        </p>
        <a class="mt-8 inline-flex items-center justify-center transition-colors duration-200 hover:text-grey-80 transition-shadow items-center gap-2 rounded-full border-2 border-white text-white h-11 px-[22px] text-16 font-medium leading-snug tracking-tighter text-black shadow-[0_6px_16px_rgba(255,255,255,.2)] hover:shadow-[0_6px_20px_rgba(255,255,255,.4)] hover:-translate-y-0.5 transition-transform duration-200 md:text-14 md:h-10 md:px-4.5"
           href="mailto:felix@triptix.tech">
            Get in touch
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" fill="none" class="mt-px"
                 aria-hidden="true">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.6"
                      d="m1 1 4 4-4 4"></path>
            </svg>
        </a>
    </div>
</SiteLayout>