---
export const prerender = false;

import {astro} from "lucia/middleware";

import CCP from '../../../layouts/CCP.astro';

import {getAuth} from "../../../lib/lucia";


const authRequest = getAuth(Astro.locals.runtime).handleRequest(Astro);
const session = await authRequest.validate();
if (session == null) {
    return new Response(null, {
        headers: {
            Location: "/auth/login"
        },
        status: 302
    });
}
---

<CCP>
    <div class="prose prose-invert mb-8 max-w-none">
        <h2 class="font-semibold text-xl">API Keys</h2>

        <p>
            You can generate up to five API keys to use for different applications or purposes.
        </p>
    </div>

    <ul>
        <li class="w-full flex items-center gap-1 md:gap-3 text-xs md:text-base">
            <div class="p-2 md:p-4 bg-zinc-900 rounded-lg grow">
                <input class="font-mono leading-tight bg-zinc-900 border-transparent outline-none focus:border-transparent focus:ring-0 h-4 w-full"
                       type="text" value="39a31ee884bf808063432a4b2423af47">
            </div>
            <a href="#"
               class="flex-none group p-2 md:p-4 bg-zinc-900 border border-black hover:bg-zinc-800 rounded-lg flex items-center gap-2 text-gray-300 hover:text-gray-100">
                <svg class="h-4 md:h-5 fill-gray-300 hover:fill-gray-100" viewBox="0 0 16 16"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 14.5H9C9.275 14.5 9.5 14.275 9.5 14V12H11V14C11 15.1031 10.1031 16 9 16H2C0.896875 16 0 15.1031 0 14V7C0 5.89687 0.896875 5 2 5H4V6.5H2C1.725 6.5 1.5 6.725 1.5 7V14C1.5 14.275 1.725 14.5 2 14.5ZM7 11C5.89687 11 5 10.1031 5 9V2C5 0.896875 5.89687 0 7 0H14C15.1031 0 16 0.896875 16 2V9C16 10.1031 15.1031 11 14 11H7Z"></path>
                </svg>
                Copy
            </a>
            <a href="#"
               class="flex-none group p-2 md:p-4 bg-red-950 hover:bg-red-900 border border-red-700 hover:border-red-500 rounded-lg flex items-center gap-2 text-gray-300 hover:text-white">
                <svg class="h-4 md:h-6 fill-gray-300 group-hover:fill-white" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 -960 960 960">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                </svg>
                Delete
            </a>
        </li>
    </ul>

    <div class="w-full flex justify-end">
        <div class="flex mt-8 text-xs text-xs md:text-base">
            <a href="#"
               class="group p-2 pr-3 md:p-4 bg-zinc-900 hover:bg-zinc-800 rounded-lg flex items-center gap-2 text-gray-300 hover:text-gray-100">
                <svg class="h-4 fill-gray-300 group-hover:fill-gray-100" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 -960 960 960">
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                </svg>
                Create API Key
            </a>
        </div>
    </div>
</CCP>