---
interface Props {
    loggedIn: boolean;
}
const {loggedIn = false} = Astro.props as Props;
---

<header>
    <!-- TRIPTIX CLOUD MARKETING
    <div class="w-full text-white border-b-2 border-gray-600 text-center py-4 text-sm">
        <div class="hidden sm:block">
            <p>
                <b>Introducing triptix Cloud.</b> Zero effort. Ridiculous speed. Next-gen developer experience.
                Get <a class="underline underline-offset-4 hover:text-zinc-300"
                       href="/pricing">10,000 requests/mth free</a>!
            </p>
        </div>
        <div class="sm:hidden">
            <p>
                <b>NEW triptix Cloud.</b> Get 10k req/mth free!
                <a class="underline underline-offset-4 hover:text-zinc-300" href="/pricing">Learn more</a>.
            </p>
        </div>
    </div>
    -->

    <!-- NAV BAR -->
    <nav class="bg-zinc-950 border-b-[1px] border-gray-800">
        <div class="mx-auto max-w-7xl px-4 px-8 md:px-8 relative flex items-center justify-between py-4 sm:py-8">
            <!-- HOME / LOGO -->
            <div class="flex items-center gap-16">
                <a aria-label="Home" href="/" class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                         viewbox="0 0 13.4339 13.3774">
                        <path fill="#53bff9"
                              d="M6.5 11.1582c-.3482-.3976-2.108-2.3857-2.108-3.6742 0-1.427 1.1036-2.5878 2.4606-2.5878S9.3133 6.057 9.3133 7.4847c0 1.2852-1.7555 3.2665-2.1074 3.6728-.3578.3983-.3578.3983-.706.0008z"></path>
                        <path fill="#da35cc" fill-opacity=".7787"
                              d="M6.5012 8.139c-.3482-.3976-2.108-2.3857-2.108-3.6742 0-1.4271 1.1036-2.5878 2.4606-2.5878s2.4607 1.1607 2.4607 2.5885c0 1.2852-1.7554 3.2665-2.1074 3.6728-.3577.3983-.3577.3983-.7059.0008z"></path>
                    </svg>
                    <h1 id="title" class="font-semibold">triptix</h1>
                </a>
            </div>

            <!-- NAVIGATION LINKS -->
            <div class="hidden md:flex md:gap-5 md:gap-10">
                <!--
                <a class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm hover:text-zinc-300"
                   href="/docs">Docs</a>
                <a class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm hover:text-zinc-300"
                   href="/pricing">Pricing</a>
                <a class="relative -mx-3 -my-2 rounded-lg px-3 py-2 text-sm hover:text-zinc-300"
                   href="/blog">Blog</a>
                -->
            </div>

            <!-- DISCORD -->
            <a href="https://matrix.to/#/!nDYXqlCcwsVCbNGJaA:matrix.org?via=matrix.org"
               class="hidden md:flex items-center hover:text-zinc-300 hover-scale duration-500 transition-transform">
                <svg width="27.9" height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.9 32">
                    <g class="fill-current">
                        <path d="M27.005 31.205V.705h-2.19v-.732h3.04v32h-3.04v-.732zM8.135 10.405v1.54h.044a4.486 4.486 0 0 1 1.49-1.37c.58-.323 1.25-.485 1.99-.485.72 0 1.38.14 1.97.42.595.279 1.05.771 1.36 1.48.338-.5.796-.941 1.38-1.32.58-.383 1.27-.574 2.06-.574.602 0 1.16.074 1.67.22.514.148.954.383 1.32.707.366.323.653.746.859 1.27.205.522.308 1.15.308 1.89v7.63h-3.13v-6.46c0-.383-.015-.743-.044-1.08a2.302 2.302 0 0 0-.242-.882 1.47 1.47 0 0 0-.584-.596c-.257-.146-.606-.22-1.05-.22-.44 0-.796.085-1.07.253-.272.17-.485.39-.639.662a2.649 2.649 0 0 0-.308.927 7.075 7.075 0 0 0-.078 1.05v6.35h-3.13v-6.4c0-.338-.007-.673-.021-1a2.826 2.826 0 0 0-.188-.916 1.408 1.408 0 0 0-.55-.673c-.258-.168-.636-.253-1.14-.253a2.334 2.334 0 0 0-.584.1 1.95 1.95 0 0 0-.705.374c-.228.184-.422.449-.584.794-.161.346-.242.798-.242 1.36v6.62h-3.13v-11.4zM.841.737v30.5h2.19v.732h-3.04v-32h3.03v.732z"/>
                    </g>
                </svg>
                <span class="ml-4 text-sm font-semibold underline underline-offset-4">Join us for a chat</span>
            </a>

            <!-- LOGIN / GET STARTED
            <div class="hidden md:flex items-center gap-6">
                <a href="https://github.com/triptix-tech"
                   class="hidden md:flex items-center hover:text-zinc-300 transition-all delay-150 hover-scale">
                    <svg width="27" height="26" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 98 96">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
                              class="fill-current"></path>
                    </svg>
                </a>
                {
                    loggedIn === false &&
                        <a id="login"
                           class="inline-flex justify-center rounded-lg border py-[calc(theme(spacing.2)-1px)] px-[calc(theme(spacing.3)-1px)] text-sm outline-2 outline-offset-2 transition-colors border-zinc-300 hover:border-zinc-100 hover:bg-zinc-900 active:bg-gray-100 hidden md:block"
                           href="/auth/login">Log in</a>
                        <a id="signup"
                           class="inline-flex justify-center rounded-lg py-2 px-3 text-sm font-semibold outline-2 outline-offset-2 transition-colors hover:bg-gray-100 bg-white hover:bg-zinc-300 text-black md:block"
                           href="/auth/signup">Sign Up</a>
                }
                {
                    loggedIn === true &&
                        <a id="logout"
                           class="inline-flex justify-center rounded-lg border py-[calc(theme(spacing.2)-1px)] px-[calc(theme(spacing.3)-1px)] text-sm outline-2 outline-offset-2 transition-colors border-zinc-300 hover:border-zinc-100 hover:bg-zinc-900 active:bg-gray-100 hidden md:block"
                           href="/auth/logout">Log out</a>
                }
            </div>
            -->

            <!-- MOBILE: HAMBURGER
            <a href="#menu" class="md:hidden rounded display-block p-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" height="32" width="32">
                    <path class="fill-gray-100" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                </svg>
            </a>
            -->
        </div>
    </nav>
</header>
