---
interface Props {
    loggedIn: boolean;
}
const {loggedIn = false} = Astro.props as Props;
---

<header>
    <!-- TRIPTIX CLOUD MARKETING
    <div class="w-full text-white border-b-2 border-gray-600 text-center py-4 text-sm">
        <div class="hidden sm:block">
            <p>
                <b>Introducing triptix Cloud.</b> Zero effort. Ridiculous speed. Next-gen developer experience.
                Get <a class="underline underline-offset-4 hover:text-zinc-300"
                       href="/pricing">10,000 requests/mth free</a>!
            </p>
        </div>
        <div class="sm:hidden">
            <p>
                <b>NEW triptix Cloud.</b> Get 10k req/mth free!
                <a class="underline underline-offset-4 hover:text-zinc-300" href="/pricing">Learn more</a>.
            </p>
        </div>
    </div>
    -->

    <!-- NAV BAR -->
    <nav class="bg-zinc-950 border-b-[1px] border-gray-800">
        <div class="mx-auto max-w-7xl px-4 px-8 md:px-8 relative flex items-center justify-center lg:justify-between py-4 sm:py-8">
            <!-- HOME / LOGO -->
            <div class="flex items-center gap-16">
                <a aria-label="Home" href="/" class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                         viewbox="0 0 13.4339 13.3774">
                        <path fill="#53bff9"
                              d="M6.5 11.1582c-.3482-.3976-2.108-2.3857-2.108-3.6742 0-1.427 1.1036-2.5878 2.4606-2.5878S9.3133 6.057 9.3133 7.4847c0 1.2852-1.7555 3.2665-2.1074 3.6728-.3578.3983-.3578.3983-.706.0008z"></path>
                        <path fill="#da35cc" fill-opacity=".7787"
                              d="M6.5012 8.139c-.3482-.3976-2.108-2.3857-2.108-3.6742 0-1.4271 1.1036-2.5878 2.4606-2.5878s2.4607 1.1607 2.4607 2.5885c0 1.2852-1.7554 3.2665-2.1074 3.6728-.3577.3983-.3577.3983-.7059.0008z"></path>
                    </svg>
                    <h1 id="title" class="font-semibold">triptix</h1>
                </a>
            </div>
        </div>
    </nav>
</header>
