---
import SiteLayout from '../layouts/SiteLayout.astro';
import SuccessMessage from '../components/SuccessMessage.astro';

let pathname = new URL(Astro.request.url).pathname;
if (pathname.endsWith('/')) {
    pathname = pathname.slice(0, pathname.length - 1);
}

let message = '';
const success = Astro.url.searchParams.get('success');
switch (success) {
    case 'pwreset':
        message = 'Password reset successful. Welcome!';
        break;
}
---

<SiteLayout classNames={['bg-zinc-900']} loggedIn={true}>
    <main class="mx-auto my-16">
        <div class="flex flex-col lg:flex-row gap-10 px-2">
            <div class="w-48">
                <span class="px-4 py-1 mb-4 md:mb-3 font-semibold text-gray-200">Account</span>
                <ul class="mt-2 text-gray-300">
                    <li>
                        <a class="block px-4 py-2 rounded-lg"
                           class:list={[{
                               'bg-[#120a1a]': pathname === `/auth/ccp/apikeys`,
                               'hover:bg-zinc-900': pathname !== `/auth/ccp/apikeys`,
                               'hover:text-gray-100': pathname !== `/auth/ccp/apikeys`
                           }]}
                           href={`/auth/ccp/apikeys/`}>
                            API Keys
                        </a>
                    </li>

                    <li>
                        <a class="block px-4 py-2 rounded-lg"
                           class:list={[{
                               'bg-[#120a1a]': pathname === `/auth/ccp/plan`,
                               'hover:bg-zinc-900': pathname !== `/auth/ccp/plan`,
                               'hover:text-gray-100': pathname !== `/auth/ccp/plan`
                           }]}
                           href={`/auth/ccp/plan/`}>
                            Plan
                        </a>
                    </li>

                    <li>
                        <a class="block px-4 py-2 rounded-lg"
                           class:list={[{
                               'bg-[#120a1a]': pathname === `/auth/ccp/invoices`,
                               'hover:bg-zinc-900': pathname !== `/auth/ccp/invoices`,
                               'hover:text-gray-100': pathname !== `/auth/ccp/invoices`
                           }]}
                           href={`/auth/ccp/invoices/`}>
                            Invoices
                        </a>
                    </li>

                    <li>
                        <a class="block px-4 py-2 rounded-lg"
                           class:list={[{
                               'bg-[#120a1a]': pathname === `/auth/ccp/account`,
                               'hover:bg-zinc-900': pathname !== `/auth/ccp/account`,
                               'hover:text-gray-100': pathname !== `/auth/ccp/account`
                           }]}
                           href={`/auth/ccp/account/`}>
                            Account
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bg-black p-4 pb-6 md:p-8 rounded-xl w-full md:w-[65ch]">
                {message.length !== 0 &&
                        <SuccessMessage msg={message} classNames={"mb-8"}/>}
                <slot/>
            </div>
        </div>
    </main>
</SiteLayout>