---
import SiteLayout from '../layouts/SiteLayout.astro';
import DocsNavigation from "../components/DocsNavigation.astro";

interface Props {
    classNames: string[] | undefined;
}

const { classNames } = Astro.props;
---

<SiteLayout classNames="mx-auto">
    <main class="my-16 mx-auto flex flex-col lg:flex-row gap-16 px-8" class:list={classNames}>
        <DocsNavigation/>
        <slot/>
    </main>
</SiteLayout>