---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HamburgerMenu from '../components/HamburgerMenu.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';

interface Props {
    classNames: string[] | undefined;
    loggedIn: boolean;
}

const {classNames, loggedIn = false} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>

<HamburgerMenu/>

<body class="flex flex-col bg-black text-white">
<div class="min-h-screen flex flex-col">
    <Header title={SITE_TITLE} loggedIn={loggedIn}/>

    <div class="w-full flex flex-col grow" class:list={classNames || ['mx-auto justify-center']}>
        <slot/>
    </div>
</div>
<Footer/>
</body>